body {
    background: linear-gradient(to right, #ffe6e6, #edb8c2);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #333;
    line-height: 1.6;
}

.container {
    border: 0.2rem solid #333;
    padding: 1.25rem;
    margin: 0 1.25rem;
}

ul {
    list-style-type: none;
}

.header__title {
    font-size: 2.5rem;
    font-weight: bold;
}
.header__nav {
    margin-bottom: 5rem;
}

.header__nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header__nav li {
    display: inline;
    margin: 0 0.9375rem;
}

.header__nav a {
    color: #333;
    text-decoration: none;
}

.header__nav a:hover {
    text-decoration: underline;
}

section {
    padding: 1.875rem;
}
.section__title {
    font-size: 1.5rem;
    position: relative;
}

.events {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    flex-wrap: wrap;
}
.events__item {
    transition: all 0.3s ease;
}


.events__item:hover {
    transform: translateY(-0.3125rem);
    box-shadow: 0 0.75rem 1.5625rem rgba(0, 0, 0, 0.3);
    }

.events__item:hover img {
    padding: 0.625rem;
}

.events__item img {
    border: 0.0625rem solid #333;
    width: 17.1875rem;
    height: 17.1875rem;
    object-fit: cover;
    transform: scale(1.05);
    transition: transform 0.3s ease;
    padding: 0.625rem;
}

.events__description {
    padding: 0.9375rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    position: relative;
    z-index: 1;
    max-width: 17.1875rem;
}

.gallery {
    display: flex;
    gap: 2.5rem;
    padding: 1.25rem;
    justify-content: center;
    flex-wrap: wrap;
}


.gallery__item {
    text-align: center;
}

.gallery__item img {
    border: 0.0625rem solid #333;
    margin-bottom: 0.3125rem;
    width: 17.1875rem;
    height: 17.1875rem;
    object-fit: cover;
}

.gallery__description {
    margin: 0;
    width: 17.1875rem;
}

blockquote {
    margin: 1.25rem;
    padding: 0.625rem;
    font-style: italic;
    text-transform: capitalize;
}

pre {
    padding: 0.625rem;
    border-radius: 0.3125rem;
    overflow-x: auto;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

footer {
    margin-top: 1.25rem;
    padding: 1.25rem;
}