body {
    background: linear-gradient(to right, #ffe6e6, #edb8c2);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #333;
    line-height: 1.6;
}
.active {
    background-color: #aa5667;
    color: white;
    border: 1px solid #666;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.donate {
    position: relative;
    background-color: #aa5667;
    color: #ffe6e6;
    padding: 0.75rem 1.25rem;
    font-size: 1.25rem;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
    height: 110px;
    writing-mode: vertical-rl;
    text-align: center;
}

.donate:hover {
    background-color: #e69ba9;
}
.container {
    border: 0.2rem solid #333;
    padding: 1.25rem;
    margin: 0 1.25rem;
}

ul {
    list-style-type: none;
}

.header__title {
    font-size: 2.5rem;
    font-weight: bold;
}
.header__nav {
    margin-bottom: 5rem;
}

.header__nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header__nav li {
    display: inline;
    margin: 0 0.9375rem;
    white-space: nowrap;
}

.header__nav a {
    color: #333;
    text-decoration: none;
}

.header__nav a:hover {
    text-decoration: underline;
}

section {
    padding: 1.875rem;
}
.section__title {
    font-size: 1.5rem;
    position: relative;
}

.events {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    flex-wrap: wrap;
}
.events__item {
    transition: all 0.3s ease;
}

.events__item:hover {
    transform: translateY(-0.3125rem);
    box-shadow: 0 0.75rem 1.5625rem rgba(0, 0, 0, 0.3);
    }

.events__item:hover img {
    margin: 1.25rem;
}

.events__item img {
    border: 0.0625rem solid #333;
    width: 17.1875rem;
    height: 17.1875rem;
    object-fit: cover;
    transform: scale(1.05);
    transition: transform 0.3s ease;
    padding: 0.625rem;
}

.events__description {
    padding: 0.9375rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    position: relative;
    max-width: 17.1875rem;
}

.gallery {
    display: flex;
    gap: 2.5rem;
    padding: 1.25rem;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery__item {
    text-align: center;
}

.gallery__item img {
    border: 1px solid #333;
    margin-bottom: 5px;
    width: 275px;
    height: 275px;
}

.gallery__description {
    margin: 0;
    width: 17.1875rem;
}

blockquote {
    margin: 1.25rem;
    padding: 0.625rem;
    text-transform: capitalize;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    justify-content: center;
    align-items: center;
}

.cell {
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chessboard thead, .chessboard tbody, .chessboard tr {
    display: contents;
}

.cell img {
    width: clamp(30px, 100%, 50px);
    height: auto;
}

.cell:hover img{
    transform: translateY(-0.3125rem);
}

.chessboard tr:nth-child(even) td:nth-child(odd),
.chessboard tr:nth-child(odd) td:nth-child(even) {
    background-color: #333;
}

.chessboard tr:nth-child(even) td:nth-child(even),
.chessboard tr:nth-child(odd) td:nth-child(odd) {
    background-color: #ffe6e6;
}

footer {
    margin-top: 1.25rem;
    padding: 1.25rem;
}

@media screen and (max-width: 768px) {
    .footer {
        display: none;
    }

    .events__item img {
        width: 100px;
        height: 100px;
    }

    .gallery__item img {
        width: 100px;
        height: 100px;
    }

    .chessboard {
        grid-template-columns: repeat(8, 50px);
        grid-template-rows: repeat(8, 50px);
    }

    .cell {
        width: 50px;
        height: 50px;
    }

    .cell img{
        width: 30px;
        height: 30px;
    }

}

@media screen and (min-width: 1920px) {
    body {
        font-size: 1.2rem;
    }

    .container {
        padding: 2rem;
        margin: 0 3rem;
    }

    .header__title {
        font-size: 3.5rem;
    }

    .header__nav li {
        margin: 0 1.5rem;
    }

    .events__item img {
        width: 25rem;
        height: 25rem;
    }

    .events__description {
        font-size: 1.75rem;
        max-width: 25rem;
    }

    .gallery__item img {
        width: 25rem;
        height: 25rem;
    }

    .gallery__description {
        font-size: 1.75rem;
        width: 25rem;
    }

    .chessboard {
        grid-template-columns: repeat(8, 120px);
        grid-template-rows: repeat(8, 120px);
    }

    .cell {
        width: 120px;
        height: 120px;
    }

    .cell img {
        width: 50px;
        height: 50px;
    }

    section {
        padding: 3rem;
    }

    footer {
        padding: 2rem;
    }
}

